@import '@arco-design/web-react/dist/css/arco.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
}

/* 隐藏快捷键栏的横向滚动条（webkit），保持触屏可滑*/
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
