# dev | test | prod
ENV=dev

# 生产 JWT 密钥（也可以写在 config-prod.yml）
# AUTH_JWT_SECRET="${AUTH_JWT_SECRET}"

# Postgres 密码（与 docker-compose.yml 默认值一致）
POSTGRES_DEFAULT_PASSWORD=tenggouwa_dev_pwd

# Redis 密码（暂未启用）
# REDIS_DEFAULT_PASSWORD="${REDIS_DEFAULT_PASSWORD}"
